.library-song {
  display: flex;
  align-items: center;
  background: #333;
  margin: 5px 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.library-song img {
  max-height: 250px;
  max-width: 250px;
  margin-right: 20px;
}

.library-song:hover {
  background: #444;
  transform: scale(1.02);
}

.library-song__info {
  flex-grow: 1;
}

.library-song__details {
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-align: left;
  color: white;
  margin-top: 5px;
}

.library-song__detail {
  font-size: 14px;
  color: #b3b3b3;
}

.library-song--active {
  background: #1db954;
}