.music-song {
    text-align: center;
    margin-bottom: 20px;
}

.music-song__cover {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.music-song__title {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.music-song__artist {
    font-size: 14px;
    color: #b3b3b3;
}